/*Robby Brosman, SID# 1142386 Dawg Pizza CSS*/

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

/*Raleway and Oswald*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,900,700|Oswald:400,700,300);

body {
	background-image: url("../img/pizza1.jpg");
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 18px;
	width: 75%;
	margin: 0 auto;
}

 nav img {
/*	position: absolute;
	right: 100px;
	top: 100px;*/
	position: relative;
	top: 85px;
	left: 25px;
}

nav {
	overflow: visible;
}

nav ul {
	padding-left: 200px;
	overflow: hidden;
	height: 76px;
}

nav li {
	display: inline-block;
	margin: 25px 0px 25px 10px;
}

a {
	text-decoration: none;
}

nav ul a {
	color: white;
	font-family: Oswald, sans-serif;
	font-weight: 700;
	font-size: 24px;
	padding: 25px 10px 25px 10px;
}

nav ul a:hover {
	color: #34036B;
	background-color: white;
}

ul {
	background-color: #34036B;
}

#main {
	background-image: url("../img/brick_bw.jpg");
	font-size: 36px;
	margin-top: 100px;
	color: white;
	padding: 100px;
}