/*Robby Brosman, SID# 1142386 Dawg Pizza CSS*/

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

/*Raleway and Oswald*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,900,700|Oswald:400,700,300);

body {
	background-image: url("../img/pizza1.jpg");
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 20px;
	width: 75%;
	margin: 0 auto;
	min-width: 1410px;
}

 nav img {
	position: relative;
	top: 85px;
	left: 25px;
}

nav {
	overflow: visible;
}

nav ul {
	padding-left: 200px;
	overflow: hidden;
	height: 76px;
}

nav li {
	display: inline-block;
	margin: 25px 0px 25px 10px;
}

a {
	text-decoration: none;
	color: white;
}

nav ul a {
	font-family: Oswald, sans-serif;
	font-weight: 700;
	font-size: 24px;
	padding: 25px 10px 25px 10px;
}

nav ul a:hover {
	color: #34036B;
	background-color: white;
}

nav ul {
	background-color: #34036B;
}

#main {
	background-image: url("../img/paperv2.jpg");
	margin: 100px 0px 25px 0px;
	padding: 50px;
	float: right;
	width: 800px;
}

aside {
	width: 20%;
	min-width: 325px;
	color: white;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 10px;
	border-bottom-width: 10px;
	position: fixed;
	top: 380px;
	font-family: Oswald;
	text-shadow: 1px 1px 1px black;
}


#copyright {
	position: fixed;
	top: 580px;
	font-size: 16px;
}

#social {
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
}

#social img {
	width: 21px;
	float: right;
	clear: both;
}

#businessInfo {
	float:left;
}

.together {
	margin-top: 10px;
	margin-bottom: 10px;
}

.together p {
	margin-top: 5px;
}

#social img {
	margin-top: 10px;
}

 h1 {
	font: bold 32px Oswald, sans-serif;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	text-align: center;
}

h2 {
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	margin-bottom: 5px;
	font-size: 22px;
}

#column1, #column2 {
	width: 350px;
	padding: 25px;
}

#column1 {
	float: left;
}

#column2 {
	float: right;
}

dt {
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px 0px 0px 0px;
}

.menuPart {
	margin: 20px 0px 20px 0px;
}

#pizzaSizes {
	margin: 20px 0px 20px 0px;
	padding: 25px;
	font-style: italic;
}

#pizzaSizes li {
	margin: 5px 10px 5px 10px;
}

#about h1, #about h2, #about p {
	margin-top: 10px;
	margin-bottom: 10px;
}

#about h2 {
	display: inline-block;
}

#about img {
	width: 800px;
}

#menuHeader {
	background-image: url("../img/pizza-order_small.jpg");
	height: 250px;
}
/*
#menuHeader h1 {
	border-style: none;
	color: white;
	text-shadow: 2px 2px 1px black;
	font-size: 150px;
}
*/